* {
    margin: 0;
    padding: 0;
}

html {
    font-family:'Bebas Neue', sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: red;
    height: 100vh;
    background-image: url("./elder.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
   padding: 20px;
}

.profile > p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: wheat;
    text-transform: capitalize;
}

.profile > img {
    width: 150px;
    height: 150px;
    border: 3px solid brown;
    border-radius: 100%;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.link > a {
    text-decoration: none;
    color: blueviolet;
    font-size: 24px;
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    background-color: aliceblue;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500px;
}

.link > a:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
    background-color: #73BBC9;
}

.footer {
    text-align: center;
}

.footer > i {
    color: wheat;
    font-size: 20px;

}